    body {
   
    font-family: 'Press Start 2P', cursive;
    background-color: #5f6171;
    text-align: center;
    color:black;
  }


.screen {

  padding: 60px 60px;
  background-color:#c3c8b1;
  border-style:solid;
  border-width: 4px;
  border-radius: 24px;
}


.footer (



)

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
  
  